.box::-webkit-scrollbar{
    display: none;
}
.list::-webkit-scrollbar{
    display: none;
}
.lap::-webkit-scrollbar{
    display: none;
}
.watchbg{
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}